/* Variable*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #F6F6F6;
}

.bold {
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h4 {
  font-weight: inherit;
}

h3 {
  font-family: "Shrikhand", cursive;
}

/*head*/
#logo_menu {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  text-decoration: none;
}

#icon_2 {
  position: absolute;
  left: 1rem;
  text-decoration: none;
}

/*header*/
.background_image {
  background-image: url("Hecquet_Medhi_P3/Image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.background_image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.header_title {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
}

.heart {
  font-size: 25px;
}
.heart:hover {
  animation: heart 0.9s ease-in-out;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background: -webkit-linear-gradient(to left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*Menu*/
.package {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6;
}

.menu {
  width: 90%;
  padding-left: 15px;
}
.menu .title_menu {
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 15px;
}
.menu .title_menu hr {
  width: 36px;
  border: none;
  border-bottom: 2px solid #99E2D0;
}

@keyframes showItems {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.item-1 {
  animation: showItems 1s;
  animation-delay: 0.1s;
}

.item-2 {
  animation: showItems 1s;
  animation-delay: 0.2s;
}

.item-3 {
  animation: showItems 1s;
  animation-delay: 0.3s;
}

.item-4 {
  animation: showItems 1s;
  animation-delay: 0.4s;
}

.item-5 {
  animation: showItems 1s;
  animation-delay: 0.5s;
}

.item-6 {
  animation: showItems 1s;
  animation-delay: 0.6s;
}

.item-7 {
  animation: showItems 1s;
  animation-delay: 0.7s;
}

.item-8 {
  animation: showItems 1s;
  animation-delay: 0.8s;
}

.item-9 {
  animation: showItems 1s;
  animation-delay: 0.9s;
}

.item-10 {
  animation: showItems 1s;
  animation-delay: 1s;
}

.item {
  height: 60px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.info:hover {
  animation: fade 0.84s forwards;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipse {
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  font-weight: bold;
  padding-top: 18px;
  position: relative;
}

.check {
  background-color: #99E2D0;
  width: 20%;
  margin-right: -20%;
  transition: 0.5s;
}

.check i {
  font-size: 30px;
  color: white;
  transition: transform 0.84s;
  margin-top: 15px;
  margin-left: 13px;
}

.info:hover ~ .check i {
  transform: rotate(360deg);
}

@keyframes fade {
  from {
    width: 100%;
  }
  to {
    width: 78%;
  }
}
#button_2 {
  text-align: center;
}
#button_2 #button_commander {
  border-radius: 50px;
  height: 40px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  color: white;
  border-color: #9356DC #FF79DA;
  width: 170px;
  margin: 20px 0 20px 0;
}

/*footer*/
footer {
  background-color: #353535;
  width: 100%;
  transform: translateY(50px);
}
footer img {
  width: 150px;
  padding-top: 20px;
  padding-left: 20px;
  filter: invert(100%);
}

nav {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 15px;
}
nav ul li {
  color: white;
  list-style: none;
  padding-bottom: 10px;
}

.courriel {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 750px) {
  .background_image img {
    height: 500px;
  }

  .package {
    height: 650px;
  }

  .header_title {
    width: 100%;
    place-content: center;
  }

  .far {
    position: absolute;
    right: 3rem;
  }

  h3 {
    font-size: 25px;
  }

  .all_menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  h4 {
    font-size: 20px;
  }

  hr {
    margin-bottom: 15px;
  }

  .item {
    margin-bottom: 35px;
    height: 20%;
  }

  .text {
    position: relative;
    font-size: 20px;
  }

  #button_2 {
    margin-top: 75px;
    position: relative;
  }

  .price {
    margin-top: 5px;
    font-size: 20px;
  }

  .check i {
    margin-left: 27%;
    font-size: 40px;
  }

  .ellipse {
    font-size: 17px;
    text-overflow: inherit;
    overflow: inherit;
    white-space: inherit;
  }
}

/*# sourceMappingURL=carte.css.map */
