/* Variable*/
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.bold {
  font-weight: bold;
}

#bold {
  font-weight: bold;
}

/*Loader*/
#loader {
  position: absolute;
  background: white;
  width: 100%;
  height: 105vh;
  animation: initialLoader forwards;
  animation-delay: 2.1s;
}

@keyframes initialLoader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.loading {
  /* Center loader */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  /*create loader*/
  border: 20px solid #9356DC;
  border-radius: 50%;
  border-top: 20px solid #3498db;
  width: 200px;
  height: 200px;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*header*/
#logo {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

#inputgeneral {
  align-content: center;
}

#inputlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding-left: 60px;
}
#inputlogo label {
  text-align: center;
}
#inputlogo label input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #eaeaea;
}

/*Text header*/
#text_button_header {
  text-align: center;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  padding-top: 20px;
}
#text_button_header #text_header {
  width: 100%;
  text-align: center;
}

#button_explore_restaurant {
  border-radius: 30px;
  height: 40px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  color: white;
  border-color: #FF79DA;
  width: 200px;
  margin-top: 20px;
}

/*Fonctionnement*/
#fonctionnement {
  width: 100%;
}
#fonctionnement #text_fonctionnement {
  font-weight: bold;
  padding-left: 20px;
}
#all_button {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.button_fonctionnement {
  border-radius: 20px;
  width: 90%;
  margin-bottom: 15px;
  background-color: #f6f6f6;
  height: 60px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
}
.button_fonctionnement:hover {
  background-color: #f5edff;
  font-weight: bold;
}

.fas {
  padding-right: 10px;
}

.far {
  padding-right: 10px;
}

.button_number {
  float: left;
  background-color: #9356DC;
  border-radius: 100%;
  font-size: 17px;
  width: 20px;
  height: 20px;
  margin-left: -17px;
}

.color-number {
  color: white;
}

/*Restaurant*/
#restaurant {
  background-color: #f6f6f6;
  width: 100%;
}
#restaurant #title_restaurant {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: bold;
}

.all_restaurant {
  width: 90%;
  padding-left: 18px;
  padding-bottom: 30px;
}

.restaurant_image_text {
  text-decoration: none;
}
.restaurant_image_text img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.description_restaurant {
  border: solid 2px white;
  background-color: white;
  border-radius: 0 10px 10px;
  box-shadow: 0 0 20px #f6f6f6;
  margin-bottom: 35px;
  color: black;
  height: 2.5rem;
  padding-left: 5px;
}
.description_restaurant .description_icon {
  display: flex;
  justify-content: space-between;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

/*Footer*/
footer {
  background-color: #353535;
  width: 100%;
}
footer img {
  width: 150px;
  padding-top: 20px;
  padding-left: 20px;
  filter: invert(100%);
}

nav {
  padding-left: 20px;
  padding-bottom: 10px;
}
nav ul li {
  color: white;
  list-style: none;
  padding-bottom: 10px;
}

.courriel {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 750px) {
  #text_fonctionnement {
    font-size: 20px;
  }

  #all_button {
    width: 100%;
    display: flex;
  }

  .button_1 {
    width: 33.3%;
  }

  #title_restaurant {
    font-size: 20px;
  }

  #restaurant {
    width: 100%;
  }
  #restaurant .all_restaurant {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .menu {
    height: 100%;
  }

  .item {
    margin-bottom: 30px;
  }

  .restaurant_image_text {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
