
/* Variable*/

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertaire: #99E2D0;
$footer: #353535;
$text_header: #f6f6f6;

*{
  padding: 0;
  margin: 0;
  font-family:" Roboto";

}

/*head*/


#logo_menu{
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  text-decoration: none;
}

#icon_2{
  position: absolute;
  left: 1rem;

}
/*header*/
.background_image {
  background-image: url("Hecquet_Medhi_P3/Image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");

  img {
    width: 100%;
    object-fit: cover;
    height:100%;
  }
}

.header_title {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.far {
  padding-right: 2px;
  &:hover{
   color: red;
    text-decoration: none;
  }
}


/*Menu*/

.package {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6;
}


.menu {
  .title_menu {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    hr{
      width:55px;
      border: none;
      border-bottom: 1px solid $tertaire;
    }
  }
}

@keyframes showItems {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}

@for $i from 1 through 10 {
  .item-#{$i} {
    animation: showItems 1s;
    animation-delay: #{$i * .1}s;
  }
}

.item {
  margin: 5px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.info:hover {
  animation: fade .84s forwards;
}

.check {
  background-color: #99E2D0;
  width: 20%;
  margin-right: -20%;
  text-align: center;
  transition: 0.5s;
}

i {
  font-size: 30px;
  color: white;
  transition: transform .84s;
  margin-top: 15px;
}

.info:hover ~ .check i {
  transform: rotate(360deg);
}

@keyframes fade {
  from {
    width: 100%;
  }
  to {
    width: 78%;
  }
}


#button_2{
  text-align: center;
  #button_commander{
    border-radius: 30px;
    height: 40px;
    background-color: $secondaire;
    color: white;
    border-color: $secondaire;
    width: 200px;
    margin:20px 0 20px 0 ;
  }
}
/*footer*/
footer {
  background-color: $footer;
  width: 100%;

  img {
    width: 150px;
    padding-top: 20px;
    padding-left: 20px;
    filter: invert(100%);
  }
}

nav {
  padding-left: 20px;
  padding-bottom: 10px;

  ul {

    li {
      color: white;
      list-style: none;
      padding-bottom: 10px;
    }
  }
}



@media screen and (min-width: 750px) {
  .background_image{
    img{
      height: 500px;
    }
  }

  .package{
    height: 650px;
  }

.header_title{
  width: 100%;
  place-content: center;
}

  .far{
    position: absolute;
    right: 3rem;
  }

  h3{
    font-size: 25px;
  }

 .all_menu{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap: 20px;
 }

  h4{
    font-size: 20px;
  }
  .item{
    margin-bottom: 15px;
  }

  .info{
    height: 20%;
  }
  .text{
    position: relative;
  }

  #button_2{
    margin-top: 75px;
    position: relative;
  }

}





