/* Variable*/

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertaire: #99E2D0;
$footer: #353535;
$text_header: #f6f6f6;

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}


#loader{
  position: absolute;
  background: White;
  width: 100%;
  height: 100vh;
  /* keyframe, animation duration, keep final state */
  animation: initialLoader forwards;
  /* Time before animation */
  animation-delay: 5s;
}

#logo_loader{
  /* center image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  /* max image width */
  max-width: 200px;
  -webkit-animation: rotation .42s infinite /*linear*/;
}

@keyframes initialLoader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

/*header*/
#logo {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

#inputgeneral {
  align-content: center;

}

#inputlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding-left: 60px;

  label {
    text-align: center;

    input {
      width: 100%;
      height: 30px;
      border: none;
      background-color: #eaeaea;
    }
  }
}


/*Text header*/


#text_button_header {
  text-align: center;
  background-color: $text_header;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  padding-top: 20px;

  #text_header {
    width: 100%;
    text-align: center;
  }
}

#button_explore_restaurant {
  border-radius: 30px;
  height: 40px;
  background-color: $secondaire;
  color: white;
  border-color: $secondaire;
  width: 200px;
  margin-top: 20px;
}


/*Fonctionnemen*/
#fonctionnement {
  width: 100%;

  #text_fonctionnement {
    font-weight: bold;
    padding-left: 20px;


    #button_1 {

    }
  }

}

#all_button {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.button_fonctionnement {
  border-radius: 20px;
  width: 90%;
  margin-bottom: 15px;
  background-color: #f6f6f6;
  height: 60px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;

  &:hover {
    background-color: #f5edff;
    font-weight: bold;

  }

}

.fas {
  padding-right: 10px;
}

.far {
  padding-right: 10px;
}

.button_number {
  float: left;
  background-color: $primaire;
  border-radius: 100%;
  font-size: 20px;
  width: 20px;
  margin-left: -15px;
}

/*Restaurant*/
#restaurant {
  background-color: #f6f6f6;
  width: 100%;

  #title_restaurant {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;

  }
}

.all_restaurant {
  width: 90%;
  padding-left: 18px;
  padding-bottom: 30px;
}


.restaurant_image_text {
  text-decoration: none;

  img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
}

.description_restaurant {
  border: solid 2px white;
  background-color: white;
  border-radius: 0 0px 10px 10px;
  box-shadow: 0 0 20px #f6f6f6;
  margin-bottom: 10px;
  color: black;
  height: 2.5rem;
  padding-left: 5px;

  .description_icon {
    display: flex;
    justify-content: space-between;
  }
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

/*Footer*/

footer {
  background-color: $footer;
  width: 100%;

  img {
    width: 150px;
    padding-top: 20px;
    padding-left: 20px;
    filter: invert(100%);
  }
}

nav {
  padding-left: 20px;
  padding-bottom: 10px;

  ul {

    li {
      color: white;
      list-style: none;
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: 750px) {

 #text_fonctionnement{
   font-size: 20px;
 }
  #all_button {
    width: 100%;
    display: flex;

  }
  .button_1 {
    width: 33.3%

  }

  #title_restaurant{
    font-size: 20px;
  }
  #restaurant {
    width: 100%;

    .all_restaurant {
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;

    }
  }


  .restaurant_image_text{
    width: 90%;
  }


}

